body {
  background: url("../public/images/lolBG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "Friz-Regular";
  src: url("../assets/fonts/Friz\ Quadrata\ Regular.ttf");
}

@font-face {
  font-family: "Friz-Bold";
  src: url("../assets/fonts/Friz\ Quadrata\ Bold.otf");
}

@font-face {
  font-family: "Friz-Medium";
  src: url("../assets/fonts/Friz\ Quadrata\ Std\ Medium.otf");
}

.spell-image:hover {
  transition: all linear 0.2s;
  transform: scale(1.15);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #111111;
}

::-webkit-scrollbar-track {
  margin-top: 80px;
  margin-bottom: 40px;
}

::-webkit-scrollbar-thumb{
  background-color: #c8a355;
  border-radius: 10px;
  margin-block: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #b96400;
}
